*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Container */
.container{
    width: 960px;
    margin: auto;
}


/* HEADER*/
.header-top-section{
    background-color: #ffffff;
}
.header-top-items{
    display: flex;
    justify-content: space-between;
}
.header-top-item{
    width: 415px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.header-top-item  > p {
    font-size: 12px;
    line-height: 19px;
    color: #696969; 
}
.header-top-search{
    width: 212px;
}
.header-top-search-item{
    border :none; 
    background-color: #e1e1e1;  
    width: 96%;
    border-radius: 13px;
    width: 210px;
    height: 25px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
.search-button{
    width: 19px;
    height: 19px;
    border-radius: 9px;
    background-color: #000000;
    position: absolute;
    right: 5px;
    top: 3px;
    background-size: 200%;
    background-position: center center;
}

.header-menu-section{
    background-color: #222222;  
    border-bottom: 2px solid #7c9c37;; 
}
.header-menu-section-item{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo > h1 > span {
    font-size: 36px;
} 
.logo > h1 {
    font-size: 28px;
    line-height: 36px;
}
.logo > h6{
    font-size: 12px;
    line-height: 12px;
    color: #cccccc;
}
.nav{
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}
.menu{
    list-style: none;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 37px;
    margin-bottom: 20px;
}
.menu >li{
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #828282;
}
.menu >li > a{
    color: #cccccc;
    
}
.menu >li > a > h6{
    margin-top: 5px;
    font-size: 12px;
    
}
.menu >li > a:hover {
    color: #7c9c37;
}
.menu >li > a:hover h6{
    color:  #cccccc;;
}

/* SLider Section */
.slider-section{
    position: relative;
}
.slider-items{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;
}
.slider-item{
    width: 100%;
    height: 380px;
    background-size: 100%;
}


.slider-arrows{
    position: relative;
    height: 400px;
    z-index: 5;
}  

.slider-arrow-container{
    border-radius: 100%;
    background-color: #666666;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    align-items: center;
}

.slider-arrow{
    border-radius: 100%;
    background-color: #000000;
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 2px;
    margin-left: 2px;
}
.left-arrow{
    left:0;
}
.rigth-arrow{
    right:0;
}

/* SHOUT SECTION*/
.shout-section{
    background-color: white;
}
.shout-text{
    font-size: 28px;
    line-height: 28px;
    color: #333333;
    text-align: center;
    margin-top: 45px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}
.splitter-line{
    width:800px;
    height: 3px;
    background-color: #e8e8e8;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
}

/* Latest Work Section */

.latest-work-section{
    background-color: ffffff;
}
.latest-work-items{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.latest-work-item{
    background-color: #f0f0f0;
    width: 225px;
    height: 265px;
    
}
.latest-work-img{
    width: 225px;
    height: 140px;
    background-size: 100%;
    background-position: center center;
    transition: 1s;
    position: relative;
}
.latest-work-img:hover{
    background-size: 120%;
}
.latest-work-img-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}
.latest-work-img-overlay:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.latest-work-item > h3{
    font-size: 18px;
    line-height: 22px;
    color: #7c9c37;
    padding-top: 20px;
    padding-left: 12px;
}
.latest-work-item > p {
    width: 197px;
    height: 56px;
    font-size: 12px;
    line-height: 19px;
    color: #666666;
    padding-top: 18px;
    padding-left: 12px;
}

/* Content Section */
.content-section{
    background-color: white;
}
.content-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-item{
    width: 470px;
    padding-bottom: 45px;
}
.content-item-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}
.content-item-header > h3{
    font-size: 18px;
    line-height: 22px;
    color: #666666;
}
.services{
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap : 10px;
    padding-top: 10px;
}
.service-item{
    width: 230px;
    height: 145px;
    display: grid;
    grid-template-columns: 48px 162px;
    grid-gap : 15px;
    padding-top: 10px;
}
.service-logo{
    height: 48px;
    background-color: purple;
    background-size : contain;
}
.service-text > h4{
    font-size: 14px;
    line-height: 17px;
    color: #7c9c37;
}
.service-text > p{
    width: 159px;
    height: 98px;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    margin-top: 5px;
}


.team-members{
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap : 20px;
    padding-top: 10px;
}
.team-member-item{
    width: 225px;
    height: 300px;
}
.team-member-item{
    padding-top: 10px;
}
.team-member-item-image{
    width: 225px;
    height: 225px;
    background-size: 152%;
    background-position: center center;
    transition: 1s;
}
.team-member-item-image:hover{
    background-size: 170%;
}

.team-member-item > p {
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    margin-top: 25px;
    margin-bottom: 10px;
}
.team-member-item > p > span {
    font-weight: bold;
    margin-right: 5px;
}
.view-more{
    font-size: 13px;
    line-height: 16px;
    color: #7b9b37;
}

/*Info Section*/
.info-section{
    background-color: #222222;
    border-bottom: 1px solid #000000;
}
/*Info Section List*/
.info-list{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 17px;
    flex-wrap: wrap;
}
.info-item{
    width: 225px;
}
.info-item-header{
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    font-weight: bold;
    margin-bottom: 20px;
}
.about-us-image-border{
    border: 1px solid #3a3a3a;
    margin-bottom: 16px;
}
.about-us-image{
    width: 215px;
    height: 90px;
    margin: 4px;
    background-size: 100%;
    
}
.info-about-us-text{
    width: 209px;
    font-size: 12px;
    line-height: 19px;
    color: #666666;
    margin-bottom: 5px;
}
.read-more{
    font-size: 12px;
    line-height: 22px;
    color: #7c9c37;
}
.info-quick-link-item{
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 8px; 
}
.info-quick-link {
    color: #7c9c37;
    font-size: 13px;
    padding-bottom: 6px;
}
.info-quick-link > a > span{
    color: #666666;
}
.info-blog-item{
    color: #666666;
    line-height: 17px;
    margin-bottom: 15px;
    padding-top: 5px;
}
.info-blog-item > h6{
    font-size: 14px;
}
.info-blog-item > span{
    font-size: 9px;
}
.info-blog-item > p{
    font-size: 12px;
    margin-bottom: 5px;
}
.info-contact-us{
    margin-bottom: 40px;
}
.info-contact-us > p{
    font-size: 12px;
    line-height: 19px;
    color: #666666;
}
.input-text{
    height: 35px;   
    font-size: 13px;
    margin-bottom: 8px;
    border :none; 
    background-color: #353535;  
    width: 100%;
    border-radius: 8px;
    color: #807d77;
    padding-left: 10px;
}
.info-button{
    padding: 3px 13px;
    background-color: #7c9c37;
    border-radius: 5px;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
}


/*Footer Section*/
.copyright-section{
    background-color: #222222;
    border-bottom: 1px solid  #3a3a3a;
}
.copyrights{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.copyright-copyrigth{
    display: flex;
    justify-content: left;
    align-items: center;
}
.copyright-template{
    display: flex;
    justify-content: right;
    align-items: center;
}
.copyright-text{
    color: #666666;
    font-size: 12px;
    height: 60px;
    text-align: center;
    padding-top: 23px;
}
@media screen and (max-width: 960px){
    .container {
        width: 90%;
    }
    .header-top-item{
        display: none;
    }
    .menu{
        display: none;
    }
    .latest-work-items{
        justify-content: center;
    }
    .latest-work-item{
        margin: 5px;
    }
    .splitter-line{
        width: 80%;
        margin-left: 10%; 
    }
    .content-items{
        justify-content: center;
    }
    .info-list{
        justify-content: center;
    }
    .info-item{
        margin: 20px;;
    }
}
@media screen and (max-width: 470px){
    .content-item-header{
        display: none;
    }
    .services{
        grid-template-columns: 1fr;
        
    }
    .team-members{
        grid-template-columns: 1fr;
    }
    .copyright-template{
        display: none;
    }

}